body {
	font-size: large;
}

#gameCanvas {
	/* https://stackoverflow.com/questions/5127937/how-to-center-canvas-in-html5 */
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#infoText {
	text-align: center;
}